h1 {
    font-size:50px;
    text-align:center;
    font-family: Impact, sans-serif;
  }
  img{
    display:block;
    margin:auto;
    max-width:100%;
    height:auto;
    border-radius:20px;
  }
  #img-caption{
    font-size:20px;
    font-style:italic;
    text-align:center;
    margin-top:10px;
  }
  #tribute-info{
    display:flex;
  }
  #tribute-info div{
    text-align:center;
    margin-top:30px;
    font-size:25px;
    font-weight:bold;
    margin-left:50px;
    margin-right:50px;
  }
  #tribute-info div p{
    text-align:left;
    font-weight:normal;
    font-size:21;
    margin:10px;
  }
  .part1{
    background-color:#d9d9d9;
    padding:5px;
    padding-top:10px;
    border-radius:9px;
  }
  .part2{
    background-color:#ffe5ea;
    padding:5px;
    padding-top:10px;
    border-radius:9px;
  }
  .link{
    text-align:center;
    margin-top:50px;
    margin-bottom:25px;
  }
  a{
    text-decoration:none;
    font-size:18px;
    color:#f2f2f2;
    background-color:#262626;
    border-radius:5px;
    padding:9px;font-family: Impact;
  }
  body{
    background-color:#ffe5ea;
    padding:30px;
  }
  main{
    background-color:white;
    border-radius:20px;
    padding:5px;
    padding-left:25px;
    padding-right:25px;
  }
  a:hover{
    background-color:#ffe5ea;
    color:black;
    border:3px dotted grey;
  }